# git project files
.settings
.project
.buildpath

# My files and directories
docs
codeigniter/application/controllers/Flashcards.php
codeigniter/application/models/Flashcard_model.php
codeigniter/application/objects/Flashcard.php
codeigniter/application/views/flashcards/
codeigniter/external/flashcards/