@CHARSET "ISO-8859-1";
/*************************** PALETTE ***************************/
.bg-black-colour {
	background-color: #000000 !important;
}
.black-colour {
	color: #000000 !important;
	border-color: #000000 !important;
	font-family: 'Lato', sans-serif;
}
.bg-dark-colour {
	background-color: #000 !important;
}
.dark-colour,
.sidebar-menu > li > a,
.sidebar-submenu > li > a:hover {
	color: #000 !important;
	border-color: #000 !important;
	font-family: 'Lato', sans-serif;
}
.bg-mid-colour,
.grid-box {
	background-color: #cecece !important;
}
.mid-colour {
	color: #cecece !important;
	border-color: #cecece !important;
	font-family: 'Lato', sans-serif;
}
.bg-light-colour,
.sidebar-menu li a:hover {
	background-color: #e7e7e7 !important;
}
.light-colour,
.sidebar-submenu > li > a {
	color: #e7e7e7 !important;
	border-color: #e7e7e7 !important;
	font-family: 'Lato', sans-serif;
}
.bg-white-colour,
.grid-box {
	background-color: #ffffff !important;
}
.white-colour {
	color: #ffffff !important;
	border-color: #ffffff !important;
	font-family: 'Lato', sans-serif;
}
/*************************** DASHBOARD NAVBAR ***************************/
#navbar-shadow {
	height: 55px;
}
nav > .container-fluid {
	padding-right: 0px !important;
	padding-left: 0px !important;
	text-align: center;
    box-shadow: 0px 1px 5px #888888;
}
.navbar-default {
	background-color: #e7e7e7 !important;
	border-color: #cecece;
}
.navbar-nav img {
	width: 25px;
}
nav .active > a {
	background-color: #cecece !important;
}
#navbar-logo {
	font-family: 'Lato', sans-serif;
	font-size: 35px;
	font-weight: 700;
	color: #000000;
}
#navbar-logo:focus, #navbar-logo:hover {
	text-decoration: none;
}
#navbar-search-bar-div {
	float: right;
	width: 200px;
	height: 55px;
	text-align: right;
}
#navbar-search-bar-div a {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 60px;
	text-decoration: none;
	margin-right:20px;
}
/*************************** SIDE-BAR TOGGLE ***************************/
#page-content-wrapper {
    width: 100%;
    /* position: absolute; */
    /* -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; */
}
#sidebar-wrapper {
	display: none;
	/* -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; */
}
#wrapper.toggled #sidebar-wrapper {
	position: fixed;
    width: 15%;
    height: 100%;
    display: block;
    /* -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; */
}
#wrapper.toggled #page-content-wrapper {
    width: 84%;
    float: right;
    /* -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; */
}
/*************************** SIDEBAR ***************************/
.sidebar-menu {
	margin-top: 0px;
}
.sidebar-menu,
.sidebar-submenu {
    padding: 0; 
    list-style: none;
}
.sidebar-menu > li {
    text-indent: 40px;
    line-height: 70px;
}
.sidebar-menu li a {
    display: block;
    text-decoration: none;
    font-size: 13px;
    /* font-weight: 700; */
    position: relative;
}
.sidebar-menu li a:hover {
    text-decoration: none;
}
.sidebar-menu li a:active,
.sidebar-menu li a:focus {
    text-decoration: none;
}
#collapse-plus ul {
	display:none;
}
#collapse-plus #icon,
#collapse-minus #icon {
	width: 21px;
	position: absolute;
	right: 20px;
	top: 25px;
}
/*************************** PAGE CONTENT WRAPPER ***************************/
#page-content-wrapper {
	/* padding:  */
}
.grid-box-wrapper {
	padding: 5px;
}
.grid-box {
	display: block;
	padding: 5px;
	border-radius: 5px;
}
.grid-box .settings-icon {
	width: 21px;
	position: absolute;
	right: 20px;
	top: 5px;
}
.grid-box .share-icon {
	width: 21px;
	position: absolute;
	right: 20px;
	bottom: 5px;
}
.grid-header {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 400px;
	position: relative;
}
.grid-footer {
	font-family: 'Lato', sans-serif;
	font-weight: 400px;
	position: relative;
}
.grid-header div,
.grid-footer div {
	text-indent: 5px;
}
.grid-box-trail-data-list {
	list-style: none;
	padding: 5px;
	margin-top: 14px;
	margin-bottom: 14px;
}